@media screen and (max-width: 320px){
	.Modern-Slider .item h3{
	font: 15px/17px RalewayB;
	}
}

@media screen and (max-width: 768px) and (min-width: 767px){
.sevas-table h6{
	padding: 12px;
}
.sevas-table h4{
	padding: 10px;
}
.sevas-table h5{
	padding-left: 3px;
}
}

@media only screen and (max-width: 768px) and (min-width: 360px){
	.book{
		padding: 5px;
	}
	.home-address{
		padding: 5px;
	}
}

@media only screen and (max-width: 480px) and (min-width: 320px){
	.Modern-Slider .item h3{
	font: 17px/20px RalewayB;
	}
	
}
@media only screen and (max-width: 480px) and (min-width: 280px){
	.sevas-table ul li{
		font-size: 12px;
	}
	.sevas-table h6{
		font-size: 12px;
	}
	.sevas-table h5{
		font-size: 0.8rem;
	}
	.sevas-table h4{
		font-size: 0.8rem;
	}
	.morning h6{
		padding: 10px;
	}
	.afternoon h6{
		padding: 10px;
	}
	.eveing h6{
		padding: 10px;
	}
	.morning1 h6{
		padding: 10px;
	}
	.afternoon1 h6{
		padding: 10px;
	}
	.sevas-table td{
		padding: 5px;
	}
	.time{
		margin: 3% 20%;
	}
}

@media only screen and (max-width:768px) and (min-width: 480px){
	.Modern-Slider .item h3{
	font: 20px/23px RalewayB;
	}.time{
		margin: 3% 14%;
	}
	.time table td{
		padding: 5px;
	}
	
}
@media only screen and (max-width:992px) and (min-width: 768px){
	.Modern-Slider .item h3{
	font: 25px/28px RalewayB;
	}
	.time{
		margin: 3% 30%;
	}
}
@media only screen and (max-width:1200px) and (min-width: 992px){
	.label-content h4{
		font-size: 20px;
	}
}
@media only screen and (max-width:767px) and (min-width: 575px){
	.label-content{
		padding: 23% 0% 21% 51%;
	}
}

@media screen and (max-width: 991px){
.sec-banner-content p{
	padding: 0px;
}
.sec-banner-content{
	padding: 7px;
}
p{
	font-size: 16px;
}
.swami-img{
	padding: 0px;
}
.swami-img img{
	width: 100%;
}
.donate-img img{
	width: 100%;
}
.home-post{
                padding: 20px 10px !important;
            }

.home-post img{
                padding-bottom: 15px;
            }
}